<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flashback-viewer</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <script src="https://aframe.io/releases/1.6.0/aframe.min.js"></script>
  </head>
  <body>
    <a-scene>
      <!-- Camera setup with basic controls -->
      <a-entity camera wasd-controls="enabled: false" look-controls></a-entity>

      <!-- Sky background setting -->
      <a-sky color="#000000"></a-sky>

      <!-- Load video assets -->
      <a-assets>
        <audio id="river" src="static/{{file}}.mp3" preload="auto"></audio>
        <video id="curvedvideo" src="static/{{file}}.mp4" loop="true" webkit-playsinline playsinline></video>
      </a-assets>

      <!-- Curved video display -->
      <a-video src="#curvedvideo" width="32" height="18" position="0 0 -5"></a-video>
      <a-entity sound="src: #river; autoplay: false;"></a-entity>
    </a-scene>

    <script>
      // Ensure video plays after the page loads
      window.addEventListener('click',() => {
        var video = document.querySelector('#curvedvideo');
        video.play().catch((error) => {
          console.error('Autoplay failed:', error);
          // Optionally, you can show a message to the user or provide a play button
        });
        var audio = document.querySelector('#river');
        audio.play().catch((error) => {
          console.error('Autoplay failed:', error);
          // Optionally, you can show a message to the user or provide a play button
        });
      });
    </script>
    <!-- Fallback content for unsupported browsers -->
    <noscript>
      <p>Your browser does not support A-Frame. Please enable JavaScript or use a compatible browser.</p>
    </noscript>
  </body>
</html>
