<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flashback-viewer</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://aframe.io/releases/1.6.0/aframe.min.js"></script>
  </head>
  <body>
    <a-scene>
      <a-entity camera wasd-controls="enabled: false" look-controls></a-entity>
      <!-- 하늘 배경 설정 -->
      <a-sky color="#000000"></a-sky>

      <!-- 이미지 자원 불러오기 -->
      <a-assets>
        <audio id="river" src="static/{{file}}.mp3" preload="auto"></audio>
        <img id="curvedImage1" src="static/{{file}}.png"/>
      </a-assets>
      <!-- 첫 번째 곡선 이미지 (정면) -->
      <a-curvedimage src="#curvedImage1" radius="6" theta-length="270" height="9" rotation="0 0 0" position="0 0 0"></a-curvedimage>
      <a-entity sound="src: #river"></a-entity>
    </a-scene>
  </body>
</html>
